.cart-event__amount {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
    
    height: 50px;
    border-top: 2px solid rgba(245, 107, 154, 1);
    
    color: rgba(255, 255, 255, 1);
    
}

.cart-event__amount p {
    border-left: 2px solid rgba(245, 107, 154, 1);
    border-right: 2px solid rgba(245, 107, 154, 1);
    height: 100%;
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 400;
    width: 33%;
    text-align: center;
    display: grid;
    align-items: center;
    
    

}

.cart-event__amount button {
    background: none;
    border: none;
    font-family: Fira Sans;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

.cart-event-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    min-height: 667px;
    justify-content: space-between;
    
}

.cart-event-container h1 {
    font-family: 'Sansita One', sans-serif;
    font-size: 2rem;
    color: #F56B9A;
    font-weight: 500;
    text-shadow: 1px 1px 0px #000000;
    text-align: center;
    
}

.cart-event-container ul {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem
    
}

.cart-event {
    list-style: none;
    width: 100%;
    border: 2px solid rgba(245, 107, 154, 1);
    text-align: left;
    border-radius: 5px;
    
}

.cart-event__title {
    text-align: left;
    margin: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.cart-event__when {
    font-family: Fira Sans;
    font-size: 19px;
    color: rgba(55, 174, 171, 1);
    font-weight: 400;
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 0.6rem;
    padding-left: 1rem;


    
}

.prisTotal {
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0px #F56B9A;
    font-size: 2rem;
    text-transform: lowercase;
    margin: 0;
    
    
}

.prisText {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.8px;
    text-align: center;
    margin: 0;
    


}

.sendOrderButton {
    background: rgba(55, 174, 171, 1);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 1.3rem 8rem;
    border: none;
    margin-bottom: 2rem;
    border-radius: 3px;
    cursor: pointer;
    
}
.sendOrderButton:active {
    transform: translateY(2px); /* Förskjut knappen lite nedåt när den klickas */
    
}
.bottom-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}