.event-container {
    color: white;
    width: 100%;
    min-height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Tveksamt om du någonsin kommer navigera hit Jesper.
    Gör du det, se detta som ett easter egg. Men jag har upplevt mig själv 
    ganska bitig på CSS. Men det här jäkla sidan har av någon anledning
    varit fruktansvärd, tog ett tag att lista ut hur jag skulle 
    "DELA PÅ DATAN" från date. Siffror för sig och bokstäver för sig, 
    genom att duplicera dom och substringa så klart.. Uuuh!
    
    
    */
    
}
.event-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    
}
.event-title {
    font-family: 'Sansita One', sans-serif;
    font-size: 2rem;
    color: #F56B9A;
    font-weight: 500;
    text-shadow: 1px 1px 0px #000000;
    text-align: center;
}

.event-input {
    background: #FFFFFF1A;
    border: none;
    height: 40px;
    width: 80%;
    
    border-radius: 0.25rem;

}

