/* index.css */
.mobile-wrapper {
    position: relative; 
    max-width: 500px;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #231F42;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    position: sticky; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

.icon {
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px #000000;

}

.icon:hover {
    color: #F56B9A;

}